img.dark-border {
    border: grey solid 0.5px;
    border-radius: 15px;
}

/* code elements inserted with `` */
code.language-plaintext.highlighter-rouge {
    background-color: #1e0010;
    color: #f7f7f2;
}

.dark-bg {
    background-color: #1e0010;
}
